{% extends 'home/base.html' %}

{% block content %}
<h1>This is pricing page </h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name </th>
      <th scope="col">age</th>
      <th scope="col">email </th>
        <th scope="col">address </th>
    </tr>
  </thead>
  <tbody>

  
{% for student in students %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.email}}</td>
        <td>{{student.address}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>


{% endblock %}